@model Alpha.Models.Project
@{
    Layout = "_Layout";
    ViewBag.Title = "Project";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mon projet</title>
</head>
<body>
    @using (Html.BeginForm("NewProjectStatus", "Project", new { projectId = Model.Id }, FormMethod.Post))
    {


        <section class="text-center py-5">
            <br>
            <!--Main container-->
            <div class="container cadre" style="border-radius:5px;">
                <meta name="viewport" content="width=device-width" />
                <h3>Mon projet à évaluer</h3>
                <br>
                <hr />
                <br>
                <div class="row">
                    <div class="col-6">
                        <div class="overlay z-depth-1-half">
                            <img src="~/img/@Model.Picture" style="width:500px" , height="370" object-fit: cover">
                        </div>
                    </div>
                    <div class="col-6">
                            <div class="row", center, align-middle>
                                <button class="btn boutondusite" style="border: solid 2px #1D617A;width:45%" type="submit">Sauvegarder</button>
                                
                                <a class="btn boutondusite" style="background-color:#DE0100; width:45%;"href="@Url.Action("DeleteProject", "Project", new { id = Model.Id })">Supprimer le projet</a>
                            
                            @Html.DropDownListFor(model => model.Status, new List<SelectListItem>
                            {
                               new SelectListItem{ Text="Créé", Value = "created" },
                               new SelectListItem{ Text="Pris en charge par un GP", Value = "toControl" },
                               new SelectListItem{ Text="A l'étude", Value = "beingControled" },
                               new SelectListItem{ Text="Collecte démarrée", Value = "collectStarted" },
                               new SelectListItem{ Text="Collecte terminée", Value = "collectOver" },
                               new SelectListItem{ Text="Collecte terminée - projet en cours de réalisation", Value = "beingExecuted" },
                               new SelectListItem{ Text="Collecte et projet terminés", Value = "executed" }
                            }, new { @class = "form-select w-100" })
                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger float-end", style="width:50%" })
                        </div>

                        <div> <h3>Mon projet:<br> @Model.ProjectName</h3></div>
                        <div h3>Je suis: @Model.Profile.FirstName</div>
                        
                        <div>@Model.Summary</div>
                        <div>@Model.Category</div>
                        <div>@Model.Place, @Model.Area</div>
                        
                        <div> départ le @Model.StartDate.ToShortDateString() et fin le @Model.EndDate.ToShortDateString()</div>

                        <div>Objectif: @Model.Limit</div>
                        <div>Montant déjà reçu: @Model.Collect.CurrentAmount</div>
                        
                    </div>
                </div>
                <div class="row" style="margin-top:5px;">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div>@Model.Description</div>
                    </div>
                    <div class="col-1"></div>
                </div>
                <br />
                <hr />
            </div>
        </section>
    }
</body>
</html>