@model Alpha.Models.Project
@{
    Layout = null;
}
<div id="FormCreation">
    @using (Html.BeginForm("CreateProject", "Project", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table style="width:90%; margin:5%; background-color: #E2E5E9; padding:5% 15%;">
            <tr><th colspan="3">Bonjour, Nom !</th></tr>
            <tr><th colspan="3">Expliquez-nous vos aspirations...</th></tr>
            <!-- Nom du projet -->
            <tr>
                <th><label title="Name" for="name">Nom du projet : </label></th>
                <td colspan="2">@Html.TextBoxFor(model => model.ProjectName, new { @class = "form-control", placeholder = "Nom du projet", style = "width:100%;", id = "name" })</td>
                @Html.ValidationMessageFor(model => model.ProjectName)
            </tr>
            <!-- Description rapide -->
            <tr>
                <th><label for="shortdescr">Expliquez votre projet en quelques mots.</label></th>
                <td rowspan="2" colspan="2">@Html.TextBoxFor(model => model.Summary, new { @class = "form-control", placeholder = "Brève description", style = "width:100%;", id = "shortdescr", rows = "2" })</td>
                @Html.ValidationMessageFor(model => model.Summary)
            </tr>
            <tr>
                <td><label for="shortdescr">Ils permettront aux visiteurs d'avoir rapidement une idée pendant la navigation. Une description détaillée sera demandée plus tard.</label></td>
            </tr>
            <!-- Category -->
            <tr>
                <th>De quel domaine relève votre projet ?</th>
                <td>
                    <input type="radio" id="medical" name="category" value="medical">
                    <label for="medical">Médical</label><br>
                    <input type="radio" id="sport" name="category" value="sport">
                    <label for="sport">Sport</label><br>
                    <input type="radio" id="humanitarian" name="category" value="humanitarian">
                    <label for="humanitarian">Humanitaire</label>
                </td>
                <td>
                    <input type="radio" id="educational" name="category" value="educational">
                    <label for="educational">Education</label><br>
                    <input type="radio" id="infrastructural" name="category" value="infrastructural">
                    <label for="infrastructural">Construction, Infrastructures</label><br>
                    <input type="radio" id="fairTrade" name="category" value="fairTrade">
                    <label for="fairTrade">Commerce Equitable</label>
                </td>
            </tr>
            <!-- Place + WorldArea -->
            <tr>
                <th><label for="Place">Où se situe votre projet ?</label></th>
                <td>@Html.TextBoxFor(model => model.Place, new { @class = "form-control", placeholder = "Ville", id = "Place", name = "Place" })</td>
                @Html.ValidationMessageFor(model => model.Place)
                <td>
                    <label>WorldArea</label>
                    @Html.DropDownListFor(model => model.Area, new List<SelectListItem>
                    {
                       new SelectListItem{ Text="Moyen-Orient, monde arabe", Value = "middleEast" },
                       new SelectListItem{ Text="Extrême-Orient", Value = "farEast" },
                       new SelectListItem{ Text="Afrique", Value = "africa" },
                       new SelectListItem{ Text="Amérique du Nord", Value = "northAmerica" },
                       new SelectListItem{ Text="Amérique du Sud", Value = "southAmerica" },
                       new SelectListItem{ Text="Europe", Value = "europa" },
                       new SelectListItem{ Text="Océanie", Value = "oceania" }
                    }, new { @class = "form-select w-100" })
                    @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger float-end" })
                </td>
            </tr>
            <!-- Description-->
            <tr>
                <th><label for="Description">Description de votre projet</label></th>
                <td colspan="2"><label for="Description">Ne lésinez pas sur les explications ! Le gestionnaire qui prendra votre projet en charge sera ravi de vous aider !</label></td>
            </tr>
            <tr>
                <td colspan="3" style="height:350px;">
                    @Html.TextBoxFor(model => model.Description, new
                    {
                        @class = "form-control",
                        placeholder = "Description",
    id = "Description",
                        name = "Description",
                        rows = "4",
                        cols = "50",
                        style = "width:100%; height:100%;"
                    })
                </td>
                @Html.ValidationMessageFor(model => model.Description)
            </tr>
            <!-- Image -->
            <tr>
                <th>Uploader une image pour illustrer votre projet</th>
                <td colspan="2"><input type="file" name="image" class="upload" /></td>
            </tr>
            <!-- Montant -->
            <tr>
                <th>
                    <label for="Limit">Quel montant estimez-vous avoir besoin pour mener à bien votre projet ?</label>
                </th>
                <td colspan="2"> @Html.TextBoxFor(model => model.Limit, new { @class = "form-control", placeholder = "Montant de la collecte", title = "D'après la législation française, il vous est interdit de réclamer plus de 2,5 millions d'euros." })</td>
                @Html.ValidationMessageFor(model => model.Limit)
            </tr>
            <!-- Dates -->
            <tr>
                <th><label for="StartDate">Dates de début et de fin</label></th>
                <td><label for="StartDate">Début : </label>@Html.TextBoxFor(model => model.StartDate, new { @class = "form-control", type = "date", placeholder = "Date de début", id = "StartDate", name = "StartDate" })</td>
                <td><label for="EndDate">Fin : </label>@Html.TextBoxFor(model => model.EndDate, new { @class = "form-control", type = "date", placeholder = "Date de fin", id = "EndDate", name = "EndDate" })</td>
                @Html.ValidationMessageFor(model => model.StartDate)
                @Html.ValidationMessageFor(model => model.EndDate)
            </tr>
            <!-- Submit Button-->
            <tr>             
                <td colspan="3" style="padding-top:15%; padding-left: 70%;">
                    <button class="btn btn-primary btn-xl" type="submit">Créer le projet</button>
                </td>               
            </tr>
        </table>
       
    }
</div>
@* *********************************************************************************************************************@
        @*}*@
        @*<div>
                <p> Si vous avez besoin d'aide sur votre projet, Alpha-Don peut vous accompagner.</p>
                <p> Dites nous brievement sur quoi nous pouvons vous aider et nous vous contacterons par mail : </p>
                <textarea cols="30" rows="5" placeholder="taper votre message ici"></textarea> <br />
                <input type="submit" href="mailto:jerem_engelmann@hotmail.fr" value="Nous contacter" />
            </div>*@
        <p> Si vous avez besoin d'aide sur votre projet, Alpha-Don peut vous accompagner.</p>
        <p> Dites nous brievement sur quoi nous pouvons vous aider et nous vous contacterons par mail : </p>
        <br />
        <br />
        @if (ViewBag.Error != null)
        {
            <h2> @ViewBag.Error </h2>
        }
        <form method="post" action="SendEmail">
            <div class="container">
                <span class="form-control-static"> Receiver: </span>
                <input class="form-control" type="text" name="receiver"> <br />
                <span class="form-control-static"> Subject: </span>
                <input class="form-control" type="text" name="subject"> <br />
                <span class="form-control-static"> Message: </span>
                <input class="form-control" type="text" name="message"> <br />
                <input class="btn btn-primary" type="submit" value="Nous contacter">
            </div>
        </form>




