@model Alpha.ViewModels.UserAccountViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Login";
}
<section class="text-center py-5">
    <br />
    <br />
    @if (Model.Authentify)
    {
        <h3>
            Vous êtes authentifié avec votre login :
            @Model.UserAccount.Mail
        </h3>
        <div>
            @Html.ActionLink("Poursuivre sur le site", "GestionProjet")
        </div>
    }
    else
    {
        <form action="/login/index" method="post">
            <h2 class="mb-4 indigo-text font-weight-bold">Se Connecter</h2>
            <div align="center">
                @Html.LabelFor(m => m.UserAccount.Mail)
                @Html.TextBoxFor(m => m.UserAccount.Mail)
                @Html.ValidationMessageFor(m => m.UserAccount.Mail)
            </div>
            <div align="center">
                @Html.LabelFor(m => m.UserAccount.Password)
                @Html.PasswordFor(m => m.UserAccount.Password)
                @Html.ValidationMessageFor(m => m.UserAccount.Password)
            </div>
            @*<label>
                    <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Se souvenir de moi
                </label>*@
            <input type="submit" value="Se connecter" />
            <br />
            <p class="inscription">Je n'ai pas de compte.</p>
            @Html.ActionLink("Créer un compte", "CreateUserAccount")
        </form>
    }
</section>