@model Alpha.Models.Project
@{
    Layout = null;
}

<div id="ProjectNotPublic" style=" float:left; width:40%; margin:5%; ">
    <table style="max-width:100%; background-color: #E2E5E9; padding:0.5%;">
        <tr id="nomduprojet"><th colspan="5">@Model.ProjectName<img src="~/img/Création.png " class="imgStatut"> </th></tr>
        <tr id="description sommaire"><td colspan="5" align="center">@Model.Summary</td></tr>
        <tr>

            <td id="cagnotte" colspan="4" style="padding:3%;">
                <div style="text-align:center;">
                    <progress id="montantCollecté" value="19" max="90" style="width:100%; height:30px;"></progress>
                    <label for="montantCollecté" align="center" style="text-align:center;">@Model.Limit demandés</label>
                </div>
            </td>
        </tr>


        <tr>
            <td id="nbre donateurs"><div style="text-align:center">25 <br>contributions</div></td>
            <td id="image date"><img src="~/img/calendrier.png" style="height:55px; float:right;"></td>
            <td id="nbre de jours">Date début @Model.StartDate <br>Date fin @Model.EndDate</td>
        </tr>

        <tr>
        </tr>

        <tr>
            <td colspan="3">
            </td>
        </tr>
        <tr><td id="nom du pp">Projet porté par <b>ta mère</b> depuis le </td></tr>
        <tr><td id="nom du pp"><b>@Model.Place</b>, @Model.Area</td></tr>

        <tr>
            <td id="image du projet" colspan="4" rowspan="4" style="width:38%;"><img src="~/img/@Model.Picture" style="margin:auto;width:60%; height:100%; object-fit : scale-down;"></td>
        </tr>
    </table>
</div>


<div id="FormModification" style=" float:left; width:40%; margin:5%; ">
    @using (Html.BeginForm("ModifyProject", "Project", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table style="max-width:38%; background-color: #E2E5E9; padding:5% 5%; float:left;">
            <tr><th colspan="3">Etat actuel du projet</th></tr>
            <tr><th colspan="3">Modifier des champs</th></tr>
            <!-- Nom du projet -->
            <tr>
                <th><label title="Name" for="name">Nom du projet : </label></th>
                <td colspan="2">@Html.TextBoxFor(model => model.ProjectName, new { @class = "form-control", placeholder = "@Model.ProjectName", style = "width:100%;", id = "name" })</td>
                @Html.ValidationMessageFor(model => model.ProjectName)
            </tr>
            <!-- Description rapide -->
            <tr>
                <th><label for="shortdescr">Rapide présentation</label></th>
                <td rowspan="2" colspan="2">@Html.TextBoxFor(model => model.Summary, new { @class = "form-control", placeholder = "@Model.Summary", style = "width:100%;", id = "shortdescr", rows = "2" })</td>
                @Html.ValidationMessageFor(model => model.Summary)
            </tr>
            <!-- Category -->
            <tr>
                <th><label for="Category">@Model.Category</label></th>
                <td>@Html.DropDownListFor(model => model.Category, new List<SelectListItem>
                {
                   new SelectListItem{ Text="Médical", Value = "medical" },
                   new SelectListItem{ Text="Sport", Value = "sport" },
                   new SelectListItem{ Text="Humanitaire", Value = "humanitarian" },
                   new SelectListItem{ Text="Education", Value = "educational" },
                   new SelectListItem{ Text="infrastructural", Value = "infrastructural" },
                   new SelectListItem{ Text="Commerce équitable", Value = "fairTrade" },
                }, new { @class = "form-select w-100" })
                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger float-end" })
                </td>
            </tr>
            <!-- Place + WorldArea -->
            <tr>
                <th><label for="Place">Localisation</label></th>
                <td>@Html.TextBoxFor(model => model.Place, new { @class = "form-control", placeholder = "@Model.Place", id = "Place", name = "Place" })</td>
                @Html.ValidationMessageFor(model => model.Place)
                <td>
                    <label>WorldArea</label>
                    @Html.DropDownListFor(model => model.Area, new List<SelectListItem>
                    {
                       new SelectListItem{ Text="Moyen-Orient, monde arabe", Value = "middleEast" },
                       new SelectListItem{ Text="Extrême-Orient", Value = "farEast" },
                       new SelectListItem{ Text="Afrique", Value = "africa" },
                       new SelectListItem{ Text="Amérique du Nord", Value = "northAmerica" },
                       new SelectListItem{ Text="Amérique du Sud", Value = "southAmerica" },
                       new SelectListItem{ Text="Europe", Value = "europa" },
                       new SelectListItem{ Text="Océanie", Value = "oceania" }
                    }, new { @class = "form-select w-100" })
                    @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger float-end" })
                </td>
            </tr>
            >
<!-- Description-->
<tr>
    <th colspan="2"><label for="Description">Description de votre projet</label></th>
</tr>
<tr>
    <td colspan="3" style="height:350px;">
        @Html.TextBoxFor(model => model.Description, new
        {
            @class = "form-control",
            placeholder = "@model.Description",
            id = "Description",
            name = "Description",
            rows = "4",
            cols = "50",
            style = "width:100%; height:100%;"
        })
    </td>
    @Html.ValidationMessageFor(model => model.Description)
</tr>
<!-- Image -->
<tr>
    <th>Changer l'image</th>
    <td colspan="2"><input type="file" name="image" class="upload" /></td>
</tr>
<!-- Montant -->
<tr>
    <th>
        <label for="Limit">Montant demandé</label>
    </th>
    <td colspan="2"> @Html.TextBoxFor(model => model.Limit, new { @class = "form-control", placeholder = "@model.Limit", title = "D'après la législation française, il vous est interdit de réclamer plus de 2,5 millions d'euros." })</td>
    @Html.ValidationMessageFor(model => model.Limit)
</tr>
<!-- Dates -->
<tr>
    <th><label for="StartDate">Dates</label></th>
    <td><label for="StartDate">Début : </label>@Html.TextBoxFor(model => model.StartDate, new { @class = "form-control", type = "date", placeholder = "@Model.StartDate", id = "StartDate", name = "StartDate" })</td>
    <td><label for="EndDate">Fin : </label>@Html.TextBoxFor(model => model.EndDate, new { @class = "form-control", type = "date", placeholder = "@Model.EndDate", id = "EndDate", name = "EndDate" })</td>
    @Html.ValidationMessageFor(model => model.StartDate)
    @Html.ValidationMessageFor(model => model.EndDate)
</tr>

<!-- Submit Button-->
<tr>
    <td colspan="3" style="color:#E2E5E9; padding-bottom:15px;">truc de feignasse pour rajouter une ligne</td>
</tr>
<!-- Submit Button-->
<tr>
    <td colspan="2"></td>
    <td class="boutondusite" rowspan="2" style="height:40px;">
        <button type=submit href="@Url.Action("ModifyProject", "Project")">MODIFIER</button>
    </td>
</tr>

</table>
    }
</div>

