@model Alpha.Models.Project
@{
    Layout = "_Layout";
    ViewBag.Title = "Project";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mon projet</title>
</head>
<body>
    <br>
    <br>

    <div>
        <h3>Mon Projet</h3>
    </div>
        <div> <h3>Mon premier projet: @Model.ProjectName</h3></div>
        <div h3>Je suis: @Model.Profile.FirstName</div>
        <div>Statut du projet: @Model.Status</div>
        <div> @Model.Description</div>
        <div>@Model.Category</div>
        <div>@Model.Area</div>
        <div>@Model.Place</div>
        <div> @Model.StartDate</div>
        <div> @Model.EndDate</div>

        <div>Objectif: @Model.Limit</div>
        <div>Montant déjà reçu: @Model.Collect.CurrentAmount</div>
</body>
</html>