@model Alpha.Models.Profile
@{
    Layout = "_Layout";
    ViewBag.Title = "Modification du profil";
}

<h3 class="titre">ProfileChange</h3>
<p class="contenu">Ici se trouve la page de la modification du profil</p>

<body>
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Modifier un profil : </legend>
            @Html.LabelFor(l => Model.LastName)
            @Html.TextBoxFor(l => Model.LastName)
            @Html.ValidationMessageFor(l => Model.LastName)
            <br />
            @Html.LabelFor(f => Model.FirstName)
            @Html.TextBoxFor(f => Model.FirstName)
            @Html.ValidationMessageFor(f => Model.FirstName)
            <br />
            @Html.LabelFor(n => Model.Nationality)
            @Html.TextBoxFor(n => Model.Nationality)
            @Html.ValidationMessageFor(n => Model.Nationality)
            <br />
            @Html.LabelFor(n => Model.Nick)
            @Html.TextBoxFor(n => Model.Nick)
            @Html.ValidationMessageFor(n => Model.Nick)
            <br />
            @Html.LabelFor(b => Model.Birthday)
            @Html.TextBoxFor(b => Model.Birthday)
            @Html.ValidationMessageFor(b => Model.Birthday)
            <br />
            @Html.LabelFor(b => Model.Phone)
            @Html.TextBoxFor(b => Model.Phone)
            @Html.ValidationMessageFor(b => Model.Phone)
            <br />
            @Html.LabelFor(p => Model.PayMethod)
            @Html.TextBoxFor(p => Model.PayMethod)
            @Html.ValidationMessageFor(p => Model.PayMethod)
            <br />
            <input type="submit" value="Modifier" />
        </fieldset>
    }
</body>
