@model Alpha.Models.Profile
@{
    Layout = "_Layout";
    ViewBag.Title = "Modification du profil";
}

<br />
<br />
<br />
<h3 class="titre">Votre Profil</h3>

<body>
    @using (Html.BeginForm("profilechange", "profile", FormMethod.Post, new { enctype = "multipart/form-data"}))
    {
        <fieldset>
            <div class="container rounded bg-white mt-5 mb-5">
                <div class="row">
                    <div class="col-md-4 border-right">
                        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                            <label class="labels">Ma photo de Profil</label>
                            <img class="rounded-circle mt-5" src="~/img/@Model.Picture" style="width: 150px" src="">
                            <input type="file" name="image">
                            <a class="text-black-50">Je m'appelle @User.Identity.Name</a>
                            <span class="text-black-50">@Model.Nick</span>

                        </div>
                    </div>
                    <div class="col-md-6 border-right">
                        <div class="p-3 py-5">
                            <h4 class="text-center">Mon Profil</h4>
                            <div class="d-flex justify-content-between align-items-center mb-3">
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6"><label class="labels">Nom</label></div>
                                @Html.TextBoxFor(l => Model.LastName)
                                @Html.ValidationMessageFor(l => Model.LastName)
                            </div>
                            <br />
                            <div class="row mt-2">
                                <div class="col-md-6"><label class="labels">Prénom</label></div>
                                @Html.TextBoxFor(f => Model.FirstName)
                                @Html.ValidationMessageFor(f => Model.FirstName)
                            </div>
                            <br />
                            <div class="row mt-2">
                                <div class="col-md-6"><label class="labels">Nationalité</label></div>
                                @Html.TextBoxFor(n => Model.Nationality)
                                @Html.ValidationMessageFor(n => Model.Nationality)
                            </div>
                            <br />
                            <div class="row mt-2">
                                <div class="col-md-6"><label class="labels">Pseudo</label></div>
                                @Html.TextBoxFor(n => Model.Nick)
                                @Html.ValidationMessageFor(n => Model.Nick)
                            </div>
                            <br />
                            <div class="row mt-2">
                                <div class="col-md-6"><label class="labels">Date de naissance</label></div>
                                @Html.TextBoxFor(b => Model.Birthday)
                                @Html.ValidationMessageFor(b => Model.Birthday)
                            </div>
                            <br />
                            <div class="row mt-2">
                                <div class="col-md-6"><label class="labels">Téléphone</label></div>
                                @Html.TextBoxFor(b => Model.Phone)
                                @Html.ValidationMessageFor(b => Model.Phone)
                            </div>

                            <br />
                            <div class="row mt-2">
                                <div class="col-md-6"><label class="labels">Adresse</label></div>
                                @Html.TextBoxFor(p => Model.Adress.Street)
                                @Html.ValidationMessageFor(p => Model.Adress.Street)
                            </div>
                            <br />
                            <div class="row mt-2">
                                <div class="col-md-6"><label class="labels">Code Postal</label></div>
                                @Html.TextBoxFor(p => Model.Adress.Zip)
                                @Html.ValidationMessageFor(p => Model.Adress.Zip)
                            </div>
                            <br />
                            <div class="row mt-2">
                                <div class="col-md-6"><label class="labels">Ville</label></div>
                                @Html.TextBoxFor(p => Model.Adress.City)
                                @Html.ValidationMessageFor(p => Model.Adress.City)
                            </div>
                            <br />
                            <div class="row mt-2">
                                <div class="col-md-6"><label class="labels">Région</label></div>
                                @Html.TextBoxFor(p => Model.Adress.Country)
                                @Html.ValidationMessageFor(p => Model.Adress.Country)
                            </div>
                            <br />
                            <div class="row mt-2">
                                <div class="col-md-6"><label class="labels">Mode de paiement</label></div>
                                @Html.TextBoxFor(p => Model.PayMethod)
                                @Html.ValidationMessageFor(p => Model.PayMethod)
                            </div>

                            <br />
                            <hr />
                            <br />
                            <h4 class="text-center">Vous êtes...</h4>
                            <br />
                            <label class="container">
                                une personne physique
                                <input type="radio" checked="checked" name="radio">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">
                                une Entreprise
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">
                                une ONG
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">
                                une Association
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                            <br />
                            <div class="row mt-2">
                                <div class="col-md-6"><label class="labels">Numero de Siret</label></div>
                                @Html.TextBoxFor(p => Model.Siret)
                                @Html.ValidationMessageFor(p => Model.Siret)
                            </div>
                            <br />
                            <div class="row mt-2">
                                <div class="col-md-6"><label class="labels">Le nom de votre Organisation</label></div>
                                @Html.TextBoxFor(p => Model.profilePersonality)
                                @Html.ValidationMessageFor(p => Model.profilePersonality)
                            </div>
                            <div class="mt-5 text-center"><button class="btn btn-primary profile-button" input type="submit" value="Sauvegarder">sauvegarder</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    }
</body>