@model List<Alpha.Models.UserAccount>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <h3>Liste des utilisateurs inscrits</h3><br />
    @foreach (var ua in Model)
    {
        <div>

            <table>

                @ua.Profil.FirstName @ua.Profil.LastName - Année: @ua.Profil.Birthday
                -Surnom: @ua.Profil.Nick @ua.Mail @ua.Profil.Adress.Street @ua.Profil.Adress.City @ua.Profil.Adress.Zip
                 - Statut: @ua.Role

            </table>
        </div>
    }



</body>
</html>
