@model Alpha.Models.UserAccount

@{
    Layout = "_Layout";
}

<p>
    Veuillez Remplir les champs pour créer voter compte :
</p>
@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.Mail)
        @Html.TextBoxFor(m => m.Mail)
        @Html.ValidationMessageFor(m => m.Mail)
    </div>
    <div>
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <input type="submit" value="Créer" />
}