<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Alpha-Don</title>
    <!-- Icone Alpha -->
    <link rel="icon" href="~/img/alpha-logo3 vide.ico" type="image/x-icon" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap 4.3.1 CSS -->
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">*@
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design CSS -->
    <link href="~/css/mdb.min.css" rel="stylesheet">
    <!-- Custom styles -->
    <link href="~/css/style.min.css" rel="stylesheet">
    <style>
        body {
            height: 100vh;
            background: linear-gradient(to right, #1D617A, white);
        }

        .alphabar {
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: #DBEFE1;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 1.8em;
            border: 2px solid #DBEFE1;
        }

            .alphabar tr {
                line-height: 75px;
            }

            .alphabar td {
                font-weight: bold;
                width: 20%;
                color: #066387;
                text-align: center;
                padding: auto, 20%;
            }

        .alphabarlink a {
            color: #066387;
            padding: 14px 16px;
            text-decoration: none;
            line-height: 100%;
            display: inline-block;
        }

        .dashboarduser {
            display: none;
            position: absolute;
            min-width: 160%;
            background-color: #B2BED2;
            border-radius: 5px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: black;
            text-align: left;
            margin-left: -16px;
            padding: -14px;
        }
        /* Style The Dropdown Button */
        .tablebtn {
            border: none;
            cursor: pointer;
        }

            .tablebtn:hover {
                background-color: #1D617A;
                color: #B2BED2;
            }
        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
        }
        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #B2BED2;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            min-width: 200px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            color: black;
            text-align: left;
            margin-left: -1%;
        }
            /* Links inside the dropdown */
            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }
                /* Change color of dropdown links on hover */
                .dropdown-content a:hover {
                    background-color: #F1F1F1
                }
        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover {
            background-color: #1D617A;
            color: #B2BED2;
            cursor: pointer;
        }

        .imgStatut {
            border-radius: 45%;
            width: 10%
        }

        .boutondusite {
            width: 20%;
            text-align: center;
            background-color: #066387;
            color: #B2BED2;
            border-radius: 5px;
            border-color: #066387;
            border-style: solid;
        }

            .boutondusite:hover {
                background-color: #B2BED2;
                color: #066387;
                cursor: pointer;
            }

            .boutondusite button {
                height: 100%;
                width: 100%;
                color: #B2BED2;
                background-color: transparent;
                border: transparent;
            }

                .boutondusite button:hover {
                    background-color: #B2BED2;
                    color: #066387;
                    cursor: pointer;
                }

        .titres1 {
            color: #066387;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 2em;
            font: bolder;
            text-align: center;
        }
    </style>
</head>
<body>
    <header>
        <ul class="alphabar">
            <table>
                <tr>
                    <!--Bienvenue-->
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            <td class="tablebtn" style="width:19%">
                    <li class="alphabarlink dropdown" style="display:block;">
                        <div class="tablebtn">
                            <div style="margin-left:0%;">
                                Bonjour, @User.Identity.Name !
                                @if (User.IsInRole("Admin"))
                                {
                                    <div class="dropdown-content">
                                        <a href="#">Page d'accueil</a>
                                        <a href="~/../Project/ManageProjects">Gérer les projet</a>
                                        <a href="#">Statistiques du site</a>
                                        <a href="#">Accéder aux AlphaNewsletters</a>
                                    </div>
                                }
                                else
                                {
                                    <div class="dropdown-content">
                                        <a href="#">Page d'accueil</a>
                                        @*<a href="@Url.Action("ModifyProject", "Project", new { projectId = p.Id})">Voir mon projet</a>*@
                                        <a href="#">Gérer mon profil</a>
                                        <a href="#">Mes newsletters</a>
                                        <a href="#">Mes favoris</a>
                                        <a href="#">Historique des dons</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </li>
                    </td>
                    <td style="width:5%;"></td>
                    <!--Créer un projet-->
                    <td class="tablebtn" style="width:14%" onclick="location.href='@Url.Action("CreateProject", "Project")'">
                    <li class="alphabarlink">Créer un projet</li>
                    </td>
                }
                else
                {
                    <td style="width:38%;"></td>
                }
                    }
                    <td style="width:7%;"></td>
                    <!--AlphaLogo-->
                    <td class="tablebtn" style="width:5%;">
                    <li class="alphabarlink">
                        <div class="alphalogo" style="height:75px" title="Page d'accueil">
                            <a style="position: relative;" href="~/../Project/Index">
                                <img src="~/img/alpha-logo3 vide.png" style="height:55px;" />
                            </a>
                        </div>
                    </li>
                    </td>
                    <td style="width:7%;"></td>
                    <!--Recherche un projet-->
                    <td class="tablebtn" style="width:14%" onclick="location.href=''">
                    <li class="alphabarlink">Rechercher un projet</li>
                    </td>
                    <td style="width:5%;"></td>
                    <!--Se connecter-->
                    @if (User.Identity.IsAuthenticated)
                    {
                        <td class="tablebtn" style="width:8%" onclick="location.href='@Url.Action("Deconnexion", "Login")'">
                        <li class="alphabarlink">Se déconnecter</li>
                        </td>
                        <td style="width:7%;"></td>
                    }
                    else
                    {
                        <td class="tablebtn" style="width:7%" onclick="location.href='@Url.Action("Index", "Login")'">
                        <li class="alphabarlink">Se connecter</li>
                        </td>
                        <td class="tablebtn" style="width:8%" onclick="location.href='@Url.Action("CreateUserAccount", "Login")'">
                        <li class="alphabarlink">Créer un compte</li>
                        </td>
                    }
                    <td style="width:4%;"></td>
                    </tr>
                    </table>
                </ul>
            </header>
            <section class="text-center py-5">
                <div id="contenu">
                    @RenderBody()
                </div>
            </section>
        </body>
    </html>